.content-name {
    background-color: black;
    height: 35px;
    max-width: 1050px;
    line-height: 35px;
    color: white;
    padding-left: 25px;
}
.content-name h1{
    color: #ffffff;
    margin: 0;
}
.box {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px;
  padding-bottom: 2px;
}

.card {
  margin-bottom: 0px;
  padding-bottom: 16px;
}
.text {
    white-space: nowrap;
    overflow: hidden;
    color: #ffffff;
    padding-left: 25px;
    font-size: 18px;
}

article.news {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
  border: solid 2px rgba(0, 0, 0, 0);
  display: table;
}

article.news:hover {
  transition: 0.1s;
  border: 2px solid #f0008e;
}

#posterimg {
  max-width: 380px;
  border-radius: 3px 0 0 3px;
  vertical-align: middle;
}
.infoboxy {
    max-height: 250px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: table-cell;
    vertical-align: top;
    position: relative;
    padding: 20px;
}
.infoboxy p{
    color: gray;
    height:100px;
    overflow: hidden;
}
.infodata {
    color: gray;
    display: table-cell;
}
.mainname {
    font-size: 32px;
    height:45px;
    width: 100%;
}
.tag {
    color: gray;
    display: table-cell;
    padding-left: 20px;
}
.mainname a:hover {
    transition: 0.2s;
    color: white;

}
.mainname a:hover {
    transition: 0.2s;
    color: #35B6FF;
}