.topnav {
    overflow: hidden;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #000000;
}

.topnav a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14.5px 16px;
    font-size: 14px;
    border-bottom: 2px solid transparent;
    transition: 0.2s;
}

.topnav a:hover {
    border-bottom: 2px solid #35B6FF;
    transition: 0.2s;
}

.topnav a.active {
    border-bottom: 2px solid #35B6FF;
    color: #35B6FF;
}
.topnav a.logo {
    border-bottom: 0px solid transparent;
}
.topnav a.logo:hover {
    border-bottom: 0px solid transparent;
}