.info {
  padding-bottom: 15px;
}
.info img{
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.lbox {
  /* width: 1060px; */
  width: 70.67%;
  float: left;
  overflow: hidden;
}
.container {
  width: 1500px;
  margin: 20px auto;
  overflow: hidden;
} 
.content {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  height: 160px;
}
.fotter-left {
  float: left;
  font-size: 14px;
  padding-top: 130px;
  padding-left: 210px;
  padding-right: 210px;
  color: gray;
}
.a-color:hover {
  color: #35B6FF;
  text-decoration: underline;
  transition: 0.2s;
}
.a-color {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.2s;
}