header {
    overflow: hidden;
    background-color: #1F1F1F;
    filter: drop-shadow(4px 4px 16px rgba(0, 0, 0, 0.20));
    transition: 0.2s;
}

.topnav {

    max-width: 1360px;
    margin: auto;
}

.topnav a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14.5px 16px;
    font-size: 14px;
    border-bottom: 2px solid transparent;
    transition: 0.2s;
}

.topnav a:hover {
    border-bottom: 2px solid #35B6FF;
    border-image: linear-gradient(to left top, #35B6FF, #4ce4dc);
    border-image-slice: 1;
    transition: 0.2s;
}

.topnav a.active {
    border-bottom: 2px solid #35B6FF;
    border-image: linear-gradient(to left top, #35B6FF, #4ce4dc);
    border-image-slice: 1;
    color: #35B6FF;
    
}
.topnav a.logo {
    border-bottom: 0px solid transparent;
}
.topnav a.logo:hover {
    border-bottom: 0px solid transparent;
}