.lbox {
  width: 920px;
  /* width: 70.67%; */
  float: left;
  /* overflow: hidden; */
}
.container {
  width: 1360px;
  margin: 20px auto;
  /* overflow: hidden; */
} 
.content {
  background: rgba(52, 52, 52, 0.8);
  height: 100%;
  filter: drop-shadow(4px 4px 16px rgba(0, 0, 0, 0.20));
}
/* .a-color:hover {
  color: #35B6FF;
  text-decoration: underline;
  transition: 0.2s;
}
.a-color {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.2s;
} */