@font-face {
    font-family: 'opensans';
    src: url(/fonts/OpenSans/OpenSans-Regular.ttf);
}

body {
    margin:0;
    color: #ffffff;
    background-color: #171717;
    /* background-image: url(/images/pattern\ cats.jpg); */
    font-family: opensans;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: white;
}

.container-last-news {
    background-color: rgba(0, 0, 0, 0.4);
    width: 1500px;
    margin: 20px auto;
}

.header-box {
    background-color: black;
    height: 50px;
    padding-left: 50px;
    line-height: 47.5px;
    font-size: 24px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.hello {
    background-color: rgb(0, 0, 0);
    height: 930px;
    width: 100%;
    overflow: hidden;
}
.post-title {
    font-size: 21px;
}
.post-text {
    color: gray;
}
.content-post {
    background: #1F1F1F;
    height: 100%;
    filter: drop-shadow(4px 4px 16px rgba(0, 0, 0, 0.20));
}