header {
    font-size: 14px;
    line-height: 40px;

    background-color: #1F1F1F;
    color: white;
    height: 50px;
    width: 100%;
    filter: drop-shadow(4px 4px 16px rgba(0, 0, 0, 0.151F1F1F));
}
.header_top {
    max-width: 1050px;
    margin: auto;
}
.logo {

}

.title {
    font-size: 36px;
    padding-top: 10px;
    text-align: center;
}
.menu {
    list-style: none;
    position: absolute;
    top: 10px;
    right: 100px;
}